    .ancho50 {
        width:50px !important;}
    .ancho70 {
        width:70px !important;}
    .ancho100 {
        width:100px !important;}
    .ancho120 {
        width:120px !important;}
    .ancho150 {
        width:150px !important;}
    .ancho170 {
        width:170px !important;}
    .ancho200 {
        width:200px !important;}
    .ancho250 {
        width:250px !important;}
    .ancho450 {
        width:450px !important;}